<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!-- Create a PuppetLabs\Bolt folder in the %PROGRAMDATA% folder.
    This is largely copied from the puppet-agent vanagon -->
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id="CommonAppDataFolder" Name="CommonAppData">
        <!-- Use the same dir name as puppet-agent so we don't have a
        PuppetLabs and Puppet Labs directories -->
        <Directory Id="PROGRAMDATADIR" Name="PuppetLabs">
          <Directory Id="BoltAppData" Name="bolt"/>
        </Directory>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="BoltDataComponentGroup" >
      <Component
        Id="PuppetLabsDataDir"
        Guid="EA55AEDB-3A9E-454E-9389-828341BEB4FC"
        Permanent="yes"
        Directory="PROGRAMDATADIR">
        <CreateFolder>
          <PermissionEx Sddl="O:SYG:SYD:P(A;OICI;0x1200a9;;;WD)(A;OICI;FA;;;SY)(A;OICI;FA;;;BA)" />
        </CreateFolder>
      </Component>
      <Component
        Id="BoltAppDir"
        Guid="73AAE7BD-6597-4A19-AAED-92EDF2618DA9"
        Permanent="yes"
        Directory="BoltAppData" >
        <CreateFolder>
          <PermissionEx Sddl="O:SYG:SYD:P(A;OICI;FA;;;SY)(A;OICI;FA;;;BA)" />
        </CreateFolder>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
