[Unit]
Description=PE Plan Executor
After=syslog.target network.target

[Service]
User=pe-bolt-server
Group=pe-bolt-server
EnvironmentFile=-/etc/sysconfig/pe-plan-executor-service
EnvironmentFile=-/etc/default/pe-plan-executor-service
Environment=GEM_PATH=/opt/puppetlabs/server/apps/bolt-server/lib/ruby:/opt/puppetlabs/puppet/lib/ruby/gems/2.5.0:/opt/puppetlabs/puppet/lib/ruby/vendor_gems
ExecStart=/opt/puppetlabs/server/apps/bolt-server/bin/puma -C /opt/puppetlabs/server/apps/bolt-server/config/plan_executor_config.rb -e production
Restart=always
#set default privileges to -rw-r-----
UMask=027
KillMode=process

[Install]
WantedBy=multi-user.target
